#portada{
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    background-image: url(../images/ImagenEspecialidades/portada_Especialidades.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Updock", cursive;
    font-size: 70px;
    color: white;
}

.seccion{
    padding-top: 40%; 
    padding-bottom: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:brightness(0.4);
    background-attachment: fixed;
}

#seccionEmbutidos{
    background-image: url(../images/ImagenEspecialidades/embutidos.jpg);
}

#seccionCarnes{
    background-image: url(../images/ImagenEspecialidades/solomillo.jpg);
}

#seccionPescados{
    background-image: url(../images/ImagenEspecialidades/merluza.jpg);
}

#seccionPostres{
    background-image: url(../images/ImagenEspecialidades/crema-catalana.png);
}

hr{
    height: 20px;
    background-color: rgba(0,0,0,0.8);
    border: 0;
}

.titulo{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    margin-bottom: 2%;
}

.texto{
    margin-top: 2%;
    font-family: "Baloo Paaji 2", sans-serif;
    line-height: 150%;
    font-size: 24px;
    text-align: center;
    width: 40%;
}

@media(max-width: 768px){
    #portada{
        font-size: 50px;
        padding-top: 60%;
        padding-bottom: 40%;
    }

    .seccion{
        display: flex;
        flex-direction: column;
    }

    .texto{
        font-size: 20px;
        width: 80%;
    }
}