#portada{
    padding-top: 15%;
    padding-bottom: 8%;
    text-align: center;
    background-image: url(../images/ImagenEspecialidades/portada_Especialidades.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Updock", cursive;
    font-size: 70px;
    color: white;
}

.seccion{
    margin-top: 8%;
    margin-bottom: 10%;
}

/* Esto lo he hecho con ayuda de un tutorial de Youtube */
.contenedorImagenes{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.titulo{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    margin-bottom: 2%;
}

.imagen{
    width: 20%;
    margin: 0;
}

.texto{
    margin-top: 2%;
    font-family: "Baloo Paaji 2", sans-serif;
    line-height: 150%;
    font-size: 24px;
    text-align: center;
    width: 40%;
}

@media(max-width: 768px){
    #portada{
        font-size: 50px;
        padding-top: 60%;
        padding-bottom: 40%;
    }

    .seccion{
        display: flex;
        flex-direction: column;
    }

    .contenedorImagenes{
        flex-direction: column;
    }

    .imagen{
        text-align: center;
        width: 60%;
        padding-bottom: 10%;
        margin-left: 20%;
    }

    .texto{
        font-size: 20px;
        width: 80%;
    }
}