body{
    background-color: white;
}

#portada{
    font-family: "Updock", cursive;
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    background-image: url(../images/imagenMain/fotoPrincipal3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 120px;
    font-weight: lighter;
    color: white;
}


#seccionInformacion{
    background-color: white;
    width: 100%;
    padding-bottom: 40%;
}

.sobreNosotros{
    text-align: left;
    width: 70%;
    margin-left: 2%;
    padding-top: 5%;
    margin-right: 0%;
    float: left;
}

.sobreNosotros h2{
    margin-bottom: 2%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-align: center;
}

.sobreNosotros p{
    font-size: 24px;
    width: 80%;
    font-family: "Baloo Paaji 2", sans-serif;
}

.infoaside{
    float: right;
    width: 20%;
    margin-right: 5%;
    margin-left: 0%;
    margin-top: 0;
    background-color: rgb(238, 238, 238);
    padding-bottom: 8%;
}

.infoaside h3{
    font-size: 22px;
    margin-top: 40%;
    margin-bottom: 5%;
    width: 90%;
    font-family: "Josefin Sans", sans-serif;
}

.infoaside li{
    padding-bottom: 3%;
    font-size: 20px;
}

.infoaside a{
    color: black;
    text-decoration: none;
    font-family: "Baloo Paaji 2", sans-serif;
}

.seccionPartesDelBar{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
    background-color: rgb(224, 126, 126);
}

.seccionPartesDelBar h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 3%;
    font-family: "Josefin Sans", sans-serif;
}

.seccionPartesDelBar hr{
    background-color: white;
    height: 10px;
    border: 0;
    width: 100%;
}

.contenedor{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contenedor .contenido{
    text-align: center;
    margin-top: 7%;
}

.contenido h3{
    font-size: 27px;
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
}

.contenido p{
    width: 60%;
    margin: 0 auto;
    font-size: 21px;
    font-family: "Baloo Paaji 2", sans-serif;
}

.contenedor img{
    width: 40%;
    float: right;
    margin-right: 3%;
}

@media(max-width: 768px){

   #portada{
        font-size: 50px;
        padding-top: 110%;
        padding-bottom: 105%;
    } 

    #seccionInformacion{
        padding-bottom: 200%
    }

    .sobreNosotros{
        margin-left: 2%;
        padding-top: 25%;
    }

    .sobreNosotros h2{
        text-align: left;
        padding-left: 5%;
        font-size: 25px;
        margin-bottom: 7%;
        margin-left: 0%;
    }

    .sobreNosotros p{
        font-size: 17px;
        margin-left: 10%;
        margin-right: 0;
    }

    .infoaside{
        padding-bottom: 102%;
        margin-right: 0;
        padding-top: 30%;
        width: 28%;
    }

    .infoaside h3{
        font-size: 17px;
        margin-top: 80%;
    }

    .infoaside ol{
        padding-left: 20%;
    }

    .infoaside li{
        font-size: 14px;
    }

    .seccionPartesDelBar h2{
        font-size: 25px;
    }

    .contenedor{
        flex-direction: column;
        align-items: center;
    }

    .contenedor img{
       float: none; 
       width: 50%;
       margin: 0;
    }

    .contenedor .contenido{
        margin: 0;
    }

    .contenedor .contenido h3{
        font-size: 19px;
        margin-bottom: 5px;
    }

    .contenedor .contenido p{
        font-size: 15px;
        width: 90%;
        margin-bottom: 5%;
    }
}