*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    background-color: rgb(224, 126, 126);
}

h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 20px;
    font-size: 40px;
}


#sobreNosotros{
    background-color: white;
    padding-top: 14%;
    padding-bottom: 14%;
}

#sobreNosotros p{
    text-align: center;
    font-size: 20px;
    display: inline-block;
    width: 40%;
    max-height: 5%;
    padding-left: 30%;
    padding-bottom: 5%;
}

#partesDelBar{
    padding-top: 14%;
    padding-bottom: 14%;
}

th, td{
    border: 3px solid white;
    border-radius: 5px;
}

th{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}
