#portada{
    padding-top: 15%;
    padding-bottom: 8%;
    text-align: center;
    background-image: url(../images/ImagenReserva/portada_Reserva.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 40px;
}

.Formulario{
    align-items: center;
    margin-top: 8%;
    margin-left: 35%;
    margin-bottom: 10%;
    display: inline-block;
    width: 40%;
}

#tituloFormulario{
    padding-bottom: 2%;
    font-size: 30px;
    margin-left: 10%;
}

label{
    font-size: 20px;
}

.inputs{
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
    margin-bottom: 24px;
    outline: none;
}

.inputs:focus{
    border: 1px solid rgb(224, 126, 126);
}

#comensales{
    width: 10%;
    padding: 7px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
}

#comensales:focus{
    border: 1px solid rgb(224, 126, 126);
}

.FyH{
    width: 30%;
    margin-bottom: 24px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
    outline: none;
}

.FyH:focus{
    border: 1px solid rgb(224, 126, 126);
}

.radio{
    margin-top: 10px;
    margin-bottom: 24px;
    width: 3%;
}

#textoAlergias{
    width: 70%;
    margin-bottom: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
    outline: none;
}

#textoAlergias:focus{
    border: 1px solid rgb(224, 126, 126);
}

#checkbox{
    margin-bottom: 24px;
    margin-left: 15%;
}

#botonEnviar{
    margin-bottom: 48px;
    color: white;
    background-color: rgb(27, 27, 27);
    padding: 15px;
    width: 30%;
    border: 0;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 20%;
}

#tituloMapa{
    padding-bottom: 2%;
    font-size: 30px;
    margin-left: 5%;
}

.horario{
    text-align: center;
    margin-bottom: 10%;
}

.horario h2{
    font-size: 35px;
    margin-bottom: 3%;
}

.horario table{
    max-width: 80%;
    border-collapse: collapse;

}

.horario th, td{
    border: 3px solid rgb(224, 126, 126);
    border-radius: 4px;
    padding: 10px;
}