#portada{
    padding-top: 15%;
    padding-bottom: 8%;
    text-align: center;
    background-image: url(../images/ImagenReserva/portada_Reserva.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 70px;
    font-family: "Updock", cursive;
}

.Formulario{
    margin-top: 8%;
    margin-left: 35%;
    margin-bottom: 10%;
    display: inline-block;
    width: 40%;
}

#tituloFormulario{
    padding-bottom: 2%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    margin-left: 2%;
}

label{
    font-size: 20px;
    font-family: "Baloo Paaji 2", sans-serif;
}

.inputs{
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
    margin-bottom: 24px;
    outline: none;
}

.inputs:focus{
    border: 1px solid rgb(224, 126, 126);
}

#comensales{
    width: 10%;
    padding: 7px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
}

#comensales:focus{
    border: 1px solid rgb(224, 126, 126);
}

.FyH{
    width: 30%;
    margin-bottom: 24px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
    outline: none;
    font-family: "Baloo Paaji 2", sans-serif;
}

.FyH:focus{
    border: 1px solid rgb(224, 126, 126);
}

.radio{
    margin-top: 10px;
    margin-bottom: 24px;
    width: 3%;
}


#textoAlergias{
    width: 70%;
    margin-bottom: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #51515137;
    cursor: pointer;
    outline: none;
}

#textoAlergias:focus{
    border: 1px solid rgb(224, 126, 126);
}

#checkbox{
    margin-bottom: 24px;
    margin-left: 15%;
}

#botonEnviar{
    margin-bottom: 48px;
    color: white;
    background-color: rgb(27, 27, 27);
    padding: 7px;
    width: 30%;
    border: 0;
    border-radius: 6px;
    font-family: "Baloo Paaji 2", sans-serif;
    font-size: 23px;
    cursor: pointer;
    margin-left: 20%;
}

#tituloMapa{
    padding-bottom: 2%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    margin-left: 0%;
}

#mapa{
    width: 75%;
}

.horario{
    text-align: center;
    margin-bottom: 10%;
}

.horario h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    margin-bottom: 3%;
}

.horario table{
    max-width: 80%;
    border-collapse: collapse;
}

.horario th, td{
    border: 3px solid rgb(224, 126, 126);
    border-radius: 4px;
    padding: 10px;
}

.horario td{
    font-family: "Baloo Paaji 2", sans-serif;
}

.horario th{
    font-family: "Josefin Sans", sans-serif;
}

@media only screen and (max-width: 768px){
    #portada{
        font-size: 50px;
        padding-top: 70%;
        padding-bottom: 35%;
    }

    #mapa{
        width: 100%;
    }

    .horario{
        margin: 0;
        padding-bottom: 10%;
    }


    .horario th,td{
        padding: 6px;
        height: 80%;
        font-size: 12.5px;
    }

    .Formulario{
        margin-left: 10%;
        text-align: left;
        width: 80%;
    }

    #tituloFormulario{
        margin-left: 0;
    }

    #comensales{
        width: 20%;
    }

    #checkbox{
        margin-left: 0;
    }

    #botonEnviar{
        margin-left: 0;
    }
}